<vui-view rowGap="2rem">
    <vui-text size="header">Text</vui-text>
    <vui-view rowGap="1.5rem">
        <vui-text size="xsmall">Extra Small [xsmall, xs]</vui-text>
        <vui-text size="small">Small [small, s]</vui-text>
        <vui-text size="medium">Medium [medium, m]</vui-text>
        <vui-text size="large">Large [large, l]</vui-text>
        <vui-text size="xlarge">Extra Large [xlarge, xl]</vui-text>
        <vui-text size="header3">Header [header, h]</vui-text>
        <vui-text size="header2">Large Header [lheader, lh]</vui-text>
        <vui-text size="header1">Extra Large Header [xheader, xh]</vui-text>
    </vui-view>
</vui-view>
