<vui-view rowGap="2rem">
    <vui-text size="header">Image</vui-text>
    <vui-view rowGap="1rem">
        <vui-view rowGap="0.5rem">
            <vui-text size="l">Regular</vui-text>
            <vui-image height="10rem" width="15rem" url="https://cdn.stocksnap.io/img-thumbs/960w/vinyl-record_OTOSZLA6WF.jpg"></vui-image>
        </vui-view>
        <vui-view rowGap="0.5rem">
            <vui-text size="l">Bordered</vui-text>
            <vui-image height="10rem" width="15rem" border="5px solid var(--vui-color-primary)" url="https://cdn.stocksnap.io/img-thumbs/960w/vinyl-record_OTOSZLA6WF.jpg"></vui-image>
        </vui-view>
        <vui-view rowGap="0.5rem">
            <vui-text size="l">Rounded</vui-text>
            <vui-image height="10rem" width="15rem" borderRadius="2rem" url="https://cdn.stocksnap.io/img-thumbs/960w/vinyl-record_OTOSZLA6WF.jpg"></vui-image>
        </vui-view>
        <vui-view rowGap="0.5rem">
            <vui-text size="l">Circle</vui-text>
            <vui-image height="10rem" width="10rem" [circle]="true" [useBackgroundImage]="true" url="https://cdn.stocksnap.io/img-thumbs/960w/vinyl-record_OTOSZLA6WF.jpg"></vui-image>
        </vui-view>
        <vui-view rowGap="0.5rem">
            <vui-text size="l">Empty</vui-text>
            <vui-image height="10rem" width="15rem"></vui-image>
        </vui-view>
    </vui-view>
</vui-view>
