:root {
    --vui-color-text: '#FFFFFF',
    --vui-color-primary: '#64748b',
    --vui-color-highlight: '#45A29E',
    --vui-color-background: '#0B0C10',
    --vui-color-background-lighter: '#0B0C10',
    --vui-color-background-darker: '#0B0C10',
    --vui-color-warning: '#F59E0B',
}
