<vui-page padding="0">
    <vui-view>
        <vui-header>
            <vui-view flexDirection="row" alignItems="center" columnGap="1rem">
                <vui-icon icon="vynil-dark"></vui-icon>
                <vui-text size="xlarge" weight="700" color="black">Vynil-UI Demo</vui-text>
            </vui-view>
        </vui-header>
        <vui-view flexDirection="row">
            <vui-sidebar headerHeight="3rem">
                <vui-view alignItems="stretch">
                    <vui-view *ngFor="let group of sidebarLinkTreeGroups" alignItems="stretch">
                        <vui-view alignItems="flex-start" justifyContent="center" padding="0 1rem" height="3rem">
                            <vui-text size="xlarge">{{ group.name }}</vui-text>
                        </vui-view>
                        <vui-navigation-link *ngFor="let item of group.items" [path]="item.link">{{ item.label }}</vui-navigation-link>
                    </vui-view>
                </vui-view>
            </vui-sidebar>
            <vui-view padding="2rem" height="calc(100vh - 3rem)" [scrollable]="true" justifyContent="flex-start">
                <router-outlet></router-outlet>
            </vui-view>
        </vui-view>
    </vui-view>
</vui-page>
