<vui-view rowGap="2rem">
    <vui-text size="header">View</vui-text>
    <vui-text size="large">View properties</vui-text>
    <vui-view rowGap="0.75rem">
        <vui-text size="medium">wrap: boolean</vui-text>
        <vui-text size="medium">scrollable: boolean</vui-text>
        <vui-text size="medium">top: string</vui-text>
        <vui-text size="medium">left: string</vui-text>
        <vui-text size="medium">right: string</vui-text>
        <vui-text size="medium">bottom: string</vui-text>
        <vui-text size="medium">flex: string</vui-text>
        <vui-text size="medium">width: string</vui-text>
        <vui-text size="medium">height: string</vui-text>
        <vui-text size="medium">maxWidth: string</vui-text>
        <vui-text size="medium">maxHeight: string</vui-text>
        <vui-text size="medium">minWidth: string</vui-text>
        <vui-text size="medium">minHeight: string</vui-text>
        <vui-text size="medium">margin: string</vui-text>
        <vui-text size="medium">padding: string</vui-text>
        <vui-text size="medium">rowGap: string</vui-text>
        <vui-text size="medium">columnGap: string</vui-text>
        <vui-text size="medium">position: string</vui-text>
        <vui-text size="medium">borderRadius: string</vui-text>
        <vui-text size="medium">backgroundColor: string</vui-text>
        <vui-text size="medium">direction: row | column | row-reverse | column-reverse</vui-text>
        <vui-text size="medium">alignItems: stretch | center | flex-start | flex-end | baseline</vui-text>
        <vui-text size="medium">justifyContent: flex-start | flex-end | center | space-between | space-around | space-evenly | stretch</vui-text>
    </vui-view>
</vui-view>
