<vui-view rowGap="2rem">
    <vui-text size="header">Icon</vui-text>
    <vui-view rowGap="1rem">
        <vui-view rowGap="0.5rem">
            <vui-text size="l">Small [small, s] </vui-text>
            <vui-icon size="s" icon="vynil"></vui-icon>
        </vui-view>
        <vui-view rowGap="0.5rem">
            <vui-text size="l">Button [button, b] </vui-text>
            <vui-icon size="b" icon="vynil"></vui-icon>
        </vui-view>
        <vui-view rowGap="0.5rem">
            <vui-text size="l">Medium [medium, m, default] </vui-text>
            <vui-icon size="m" icon="vynil"></vui-icon>
        </vui-view>
        <vui-view rowGap="0.5rem">
            <vui-text size="l">Large [large, l] </vui-text>
            <vui-icon size="l" icon="vynil"></vui-icon>
        </vui-view>
        <vui-view rowGap="0.5rem">
            <vui-text size="l">Actionable</vui-text>
            <vui-icon [actionable]="true" icon="vynil"></vui-icon>
        </vui-view>
        <vui-view rowGap="0.5rem">
            <vui-text size="l">Actionable Disabled</vui-text>
            <vui-icon [actionable]="true" [disabled]="true" icon="vynil"></vui-icon>
        </vui-view>
    </vui-view>
</vui-view>
