<vui-view rowGap="2rem">
    <vui-text size="header">Named Group</vui-text>
    <vui-view rowGap="1rem">
        <vui-named-group>
            <vui-view padding="1rem" rowGap="1rem">
                <vui-image height="10rem" width="15rem" borderRadius="1rem" url="https://cdn.stocksnap.io/img-thumbs/960w/vinyl-record_OTOSZLA6WF.jpg"></vui-image>
                <vui-text size="m" padding="0 0.5rem">Active card</vui-text>
            </vui-view>
        </vui-named-group>
    </vui-view>
</vui-view>
