<vui-view rowGap="2rem">
    <vui-text size="header">Input</vui-text>
    <vui-card>
        <vui-view padding="1.5rem" rowGap="1.5rem">
            <vui-view [formGroup]="form" rowGap="0.75rem" alignItems="stretch" style="width: 100%">
                <vui-text size="l">Text</vui-text>
                <vui-input formControlName="text" flex="1" type="text"></vui-input>
                <vui-text size="l">Number</vui-text>
                <vui-input formControlName="number" flex="1" type="number"></vui-input>
                <vui-text size="l">Password</vui-text>
                <vui-input formControlName="password" flex="1" type="password"></vui-input>
                <vui-text size="l">Input with Icon</vui-text>
                <vui-icon-input formControlName="inputWithIcon" icon="search" flex="1"></vui-icon-input>
            </vui-view>
            <vui-view rowGap="0.75rem" alignItems="stretch" style="width: 100%">
                <vui-text size="large">Values</vui-text>
                <vui-card cardStyle="dark">
                    <vui-view padding="1rem" rowGap="0.75rem">
                        <vui-text>Text Value - {{ value.text }}</vui-text>
                        <vui-text>Number Value - {{ value.number }}</vui-text>
                        <vui-text>Password Value - {{ value.password }}</vui-text>
                        <vui-text>Input with Icon Value - {{ value.inputWithIcon }}</vui-text>
                    </vui-view>
                </vui-card>
            </vui-view>
        </vui-view>
    </vui-card>
</vui-view>
