$colorFore1: #FFFFFF;
$colorFore2: #DDDDDD;
$colorFore3: #BBBBBB;
$colorFore4: #999999;
$colorFore5: #777777;
$colorMedi1: #666666;
$colorMedi2: #58595d;
$colorMedi3: #48494d;
$colorBack1: #38393d;
$colorBack2: #28292d;
$colorBack3: #18191d;
$colorBack4: #000000;
$colorHigh1: #FF802A;
$colorHigh2: #F44336;
$colorHigh3: #FF6700;

.clean
{
    margin: 0px;
    padding: 0px;
}

.centered
{
    text-align: center;
}

.vynil-main-body
{
    overflow-y: hidden;
    font-family: Helvetica, sans-serif;
    background-color: $colorBack4;
}

.vynil-panel
{
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vynil-header
{
    width: 100%;
    height: 25px;
    color: $colorFore2;
    background-color: $colorBack2;
}

.vynil-form
{
    padding: 0px;
    margin: 10px;
}

.vynil-tab-form
{
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    width: 100%;
    height: calc(100vh - 25px);
}

.vynil-side-bar
{
    padding-left: 10px;
    width: 300px;
    height: 100vh;
    color: $colorFore2;
    background-color: $colorBack1;
    overflow-y: auto;
    float: left;
    display: inline-block;
}

.vynil-content
{
    float:left;
    display: inline-block;
    width: calc(100% - 310px);
}

.vynil-label
{
    color: $colorFore3;
    font-size: 12px;
    width: 100%;
    height: 12px;
}

.vynil-toggle
{
    width: 100%;
}

.vynil-input
{
    margin: 0px;
    padding: 0px;
}

.vynil-text-input
{
    color: $colorFore3;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid $colorBack1;
    background-color: $colorBack2;
    &:focus
    {
        color: $colorFore1;
        border: 1px solid $colorHigh2;
        outline: none;
    }
}

.vynil-button-input
{
    color: $colorFore2;
    min-width: 100%;
    cursor: pointer;
    height: 16px;
    text-align: center;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-width: 0px;
    background-color: $colorMedi2;
    &:hover
    {
        color: $colorFore1;
        background-color: $colorHigh2;
    }
}

::-webkit-scrollbar
{
    width: 0px;
    background: transparent;
}